src/main/default/flows/cfp_DataMovementsJSONImporter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_DataMovements_Importer</name>
        <label>Run DataMovements Importer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>cfp_DataMovementsImporter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>functionalProcessId</name>
            <value>
                <elementReference>FunctionalProcessId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonPayload</name>
            <value>
                <elementReference>JSON_Payload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replaceExistingForProcess</name>
            <value>
                <elementReference>ReplaceExistingForProcess</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cfp_DataMovementsImporter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>cfp_DataMovementsJSONImporter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_DataMovementsJSONImporter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Collect_Inputs</name>
        <label>Import Data Movements JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_DataMovements_Importer</targetReference>
        </connector>
        <fields>
            <name>FunctionalProcessId</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>a3S92000001EbvBEAS</stringValue>
            </defaultValue>
            <fieldText>Functional Process Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>JSON_Payload</name>
            <fieldText>JSON Payload</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ReplaceExistingForProcess</name>
            <dataType>Boolean</dataType>
            <fieldText>Replace Existing Movements For This Process</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishedText</name>
            <fieldText>&lt;p&gt;Import request submitted to Apex.&lt;/p&gt;&lt;p&gt;Status: {!Run_DataMovements_Importer.success}&lt;/p&gt;&lt;p&gt;InsertedCount:{!Run_DataMovements_Importer.insertedCount}&lt;/p&gt;&lt;p&gt;ErrorMessages:{!Run_DataMovements_Importer.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
