src/main/default/flows/cfp_replicateFPToContext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>buildClonedDM</name>
        <label>buildClonedDM</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>clonedDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createReplicatedFP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_Reused_from_Functional_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSourceFP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_Reused_Functional_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_movementtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_implementationtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_DataGroups__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_artifactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_artifactName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_is_API_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_is_API_Call__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_isComplete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_isComplete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_Needs_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSourceDMs.cfp_Needs_Review__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>clonedDM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSourceDMs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>skipIfNoDMs</name>
        <label>Skip if no DMs</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>doneScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DMs</defaultConnectorLabel>
        <rules>
            <name>hasDMs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dmsToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDMs</targetReference>
            </connector>
            <label>Has DMs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cfp_replicateFPToContext {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_replicateFPToContext</label>
    <loops>
        <name>loopSourceDMs</name>
        <label>loopSourceDMs</label>
        <locationX>176</locationX>
        <locationY>1010</locationY>
        <collectionReference>getSourceDMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>buildClonedDM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>skipIfNoDMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createDMs</name>
        <label>createDMs</label>
        <locationX>176</locationX>
        <locationY>1442</locationY>
        <connector>
            <targetReference>doneScreen</targetReference>
        </connector>
        <inputReference>dmsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createReplicatedFP</name>
        <label>createReplicatedFP</label>
        <locationX>176</locationX>
        <locationY>902</locationY>
        <connector>
            <targetReference>loopSourceDMs</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getSourceFP.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cfp_System_Context__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cfp_Reused_from_Functional_Process__c</field>
            <value>
                <elementReference>getSourceFP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cfp_triggeringevent__c</field>
            <value>
                <elementReference>getSourceFP.cfp_triggeringevent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cfp_Texttual_Overview__c</field>
            <value>
                <elementReference>getSourceFP.cfp_Texttual_Overview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cfp_Sub_System__c</field>
            <value>
                <elementReference>getSourceFP.cfp_Sub_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cfp_Early_And_Rapid_Estimation_Size__c</field>
            <value>
                <elementReference>getSourceFP.cfp_Early_And_Rapid_Estimation_Size__c</elementReference>
            </value>
        </inputAssignments>
        <object>cfp_FunctionalProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getSourceDMs</name>
        <label>getSourceDMs</label>
        <locationX>176</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>confirmScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cfp_FunctionalProcess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceFPIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cfp_Data_Movements__c</object>
        <sortField>cfp_order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSourceFP</name>
        <label>getSourceFP</label>
        <locationX>176</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSourceDMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceFPIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_FunctionalProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetSC</name>
        <label>getTargetSC</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pickSourceSCAndFP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_System_Context__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>confirmScreen</name>
        <label>Confirm Replication</label>
        <locationX>176</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createReplicatedFP</targetReference>
        </connector>
        <fields>
            <name>confirmText</name>
            <fieldText>&lt;p&gt;This will create a new Functional Process &lt;strong&gt;{!getSourceFP.Name}&lt;/strong&gt; in System Context &lt;strong&gt;{!getTargetSC.Name}&lt;/strong&gt;. Proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>doneScreen</name>
        <label>Done</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>doneText</name>
            <fieldText>&lt;p&gt;Replication complete. &lt;strong&gt;{!getSourceFP.Name}&lt;/strong&gt; has been added to &lt;strong&gt;{!getTargetSC.Name}&lt;/strong&gt; with &lt;strong&gt;{!dmCount}&lt;/strong&gt; Data Movements created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pickSourceSCAndFP</name>
        <label>Select Source Context and Process</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getSourceFP</targetReference>
        </connector>
        <fields>
            <name>selectedSCId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source System Context</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>cfp_System_Context__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>cfp_FunctionalProcess__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSCIdVar</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>sourceFPChoice</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Functional Process to replicate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>cfp_FunctionalProcess__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>cfp_Data_Movements__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sourceFPIdVar</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTargetSC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dmCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>clonedDM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>dmsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSCIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceFPIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
