src/main/default/flows/cfp_createCRUDLwithRelatedLists.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Read_List_record</name>
        <label>Read List of {DataGroup}</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StepNameWithVariables</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_List_of_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToTextToken</name>
        <label>assignToTextToken</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>relatedListsTextForDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createRelatedListTextBox.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedListsTextForDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createRelatedListTextBox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWorkingObjectVariables</name>
        <label>AssignWorkingObjectVariables</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>currentObjectBeingWorkedOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Include_ListView_For_Hero_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWorkingObjectVariablesForEeachDataGroup</name>
        <label>AssignWorkingObjectVariablesForEeachDataGroup</label>
        <locationX>270</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>currentObjectBeingWorkedOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRelatedLists.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_Related_DataGroupList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Click_Specific_Object</name>
        <label>Click Specific {DataGroup}</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Click Specific {!currentObjectBeingWorkedOn}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_DataGroup_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Display_path_details_for_DataGroup</name>
        <label>Display Highlights Panel {DataGroup}</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Display Highlights Panel for {!currentObjectBeingWorkedOn} Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>config</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedRelatedLists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_DataGroup_Details</name>
        <label>Display {DataGroup} Details</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Display {!currentObjectBeingWorkedOn} Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flexipage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddPath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_List_of_Object</name>
        <label>Display List of {DataGroup}</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Display List of {!currentObjectBeingWorkedOn}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>listview</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Click_Specific_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_path_details_for_DataGroup</name>
        <label>Display path details for {DataGroup}</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Display path details for {!currentObjectBeingWorkedOn} Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>config</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Highlights_PanelDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_Related_DataGroupList</name>
        <label>Display Related {DataGroupList}</label>
        <locationX>270</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Display related {!currentObjectBeingWorkedOn} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRelatedLists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>listview</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedRelatedLists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Read_DataGroup_Details</name>
        <label>Read {DataGroup} Details</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read {!currentObjectBeingWorkedOn} Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_DataGroup_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Read_Highlights_Panel_DataGroup</name>
        <label>Read Highlights Panel {DataGroup}</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read Highlights Panel for {!currentObjectBeingWorkedOn} Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Display_path_details_for_DataGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Read_path_details_for_DataGroup</name>
        <label>Read path details for {DataGroup}</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read path details for {!currentObjectBeingWorkedOn} Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectDataGroups.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_path_details_for_DataGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Read_Related_DataGroupList</name>
        <label>Read Related {DataGroupList}</label>
        <locationX>270</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read related {!currentObjectBeingWorkedOn} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRelatedLists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFunctionalProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Related_DataGroupList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>comma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>, </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Highlights_PanelDecision</name>
        <label>Add Highlights Panel</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>selectedRelatedLists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>YesHighlightsPanel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Highlights_Panel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Read_Highlights_Panel_DataGroup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AddPath</name>
        <label>AddPath</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Add_Highlights_PanelDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>YesAddPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Read_path_details_for_DataGroup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_ListView_For_Hero_Object</name>
        <label>Include ListView For Hero Object</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Read_DataGroup_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>YesListViewForHero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>includeListViewOfHeroObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Read_List_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cfp_createCRUDLwithRelatedLists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_createCRUDLwithRelatedLists</label>
    <loops>
        <name>createRelatedListTextBox</name>
        <label>createRelatedListTextBox</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>relatedListsDatatable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignToTextToken</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>confirmSelections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>selectedRelatedLists</name>
        <label>selectedRelatedLists</label>
        <locationX>182</locationX>
        <locationY>2522</locationY>
        <collectionReference>relatedListsDatatable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignWorkingObjectVariablesForEeachDataGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createDMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createDMs</name>
        <label>createDMs</label>
        <locationX>182</locationX>
        <locationY>3038</locationY>
        <inputReference>DMsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getDatagroups</name>
        <label>getDatagroups</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_DataGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFunctionalProcess.cfp_System_Context__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cfp_DataGroups__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFunctionalProcess</name>
        <label>getFunctionalProcess</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDatagroups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_FunctionalProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>confirmSelections</name>
        <label>confirmSelections</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignWorkingObjectVariables</targetReference>
        </connector>
        <fields>
            <name>displayOptions</name>
            <fieldText>&lt;p&gt;You will be creating a detail page for the following object:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(6, 90, 234);&quot;&gt;{!selectDataGroups.firstSelectedRow.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;=========&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Adding Highlights Panel: &lt;span style=&quot;color: rgb(6, 90, 234);&quot;&gt;{!Add_Highlights_Panel}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Adding Path Component: &lt;span style=&quot;color: rgb(6, 90, 234);&quot;&gt;{!Add_Path}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;=========&lt;/p&gt;&lt;p&gt;And the following related lists:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(6, 90, 234);&quot;&gt;{!relatedListsTextForDisplay}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Which_DataGroup</name>
        <label>Which DataGroup</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createRelatedListTextBox</targetReference>
        </connector>
        <fields>
            <name>selectDataGroups</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cfp_DataGroups__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Data Group for Detail View</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getDatagroups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f814&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;dk_DataGroups Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-626b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Which_DataGroup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Which_DataGroup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>otherAspectsOfDetailPage</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Other Aspects of the Detail Page&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>includeListViewOfHeroObject</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Include ListView of Hero Object</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If you want to start at a listview before getting to the main detail page, select this.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Add_Highlights_Panel</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add Highlights Panel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Add_Path</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add Path</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Which_DataGroup_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Which_DataGroup_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>relatedListText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Related Lists&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>relatedListsDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cfp_DataGroups__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Related Lists Data Groups</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getDatagroups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-34d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;dk_DataGroups Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-446e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFunctionalProcess</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>StepNameWithVariables</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Read List of {!currentObjectBeingWorkedOn}</text>
    </textTemplates>
    <variables>
        <name>currentObjectBeingWorkedOn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DMsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedListsTextForDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDataMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
</Flow>
