src/main/default/flows/cfp_addDefaultDMsToFuncProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>createEventMonitoringDM</name>
        <label>createEventMonitoringDM</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>write to Event Monitoring Logs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEventMonitoringDataGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>98.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createStatusErrorsDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createFieldHistoryDM</name>
        <label>createFieldHistoryDM</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>write to Field History</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFieldHistoryDataGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>97.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEventMonitoringDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createFullTextSearchDM</name>
        <label>createFullTextSearchDM</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>write to Full Text Index</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFullTextSearchDataGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>96.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createFieldHistoryDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createStatusErrorsDM</name>
        <label>createStatusErrorsDM</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>status/errors/etc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStatusErrorsDataGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createDMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createTriggerDM</name>
        <label>createTriggerDM</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTriggerDataGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enter description of triggering Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createFullTextSearchDM</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>cfp_addDefaultDMsToFuncProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_addDefaultDMsToFuncProcess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createDMs</name>
        <label>createDMs</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <inputReference>DMsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getSystemContext</name>
        <label>getSystemContext</label>
        <locationX>176</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTriggerDataGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce Platform Features</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_System_Context__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTriggerDataGroup</name>
        <label>getTriggerDataGroup</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFullTextSearchDataGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>trigger</stringValue>
            </value>
        </filters>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSystemContext.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_DataGroups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFullTextSearchDataGroup</name>
        <label>getFullTextSearchDataGroup</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFieldHistoryDataGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Text Search</stringValue>
            </value>
        </filters>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSystemContext.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_DataGroups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFieldHistoryDataGroup</name>
        <label>getFieldHistoryDataGroup</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEventMonitoringDataGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field History</stringValue>
            </value>
        </filters>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSystemContext.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_DataGroups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEventMonitoringDataGroup</name>
        <label>getEventMonitoringDataGroup</label>
        <locationX>176</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStatusErrorsDataGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event Monitoring Logs</stringValue>
            </value>
        </filters>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSystemContext.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_DataGroups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStatusErrorsDataGroup</name>
        <label>getStatusErrorsDataGroup</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTriggerDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>status/errors/etc</stringValue>
            </value>
        </filters>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSystemContext.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_DataGroups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSystemContext</targetReference>
        </connector>
        <object>cfp_FunctionalProcess__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DMsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>singleDataMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
</Flow>
