src/main/default/flows/cfp_copyProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_To_TextVar</name>
        <label>Assign To TextVar</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>IDsOfDMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_DM_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDsOfDMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_DM_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createDMIdList</name>
        <label>createDMIdList</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_DM_IDs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_DM_IDs.cfp_DataGroups__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_DM_IDs.cfp_implementationtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_DM_IDs.cfp_movementtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMSToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DMsForInsertRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_TextVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setId</name>
        <label>setId</label>
        <locationX>264</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetFunctionalProcessInAllDMsToInsert.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createNewFunctionalProcess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetFunctionalProcessInAllDMsToInsert.cfp_DataGroups__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetFunctionalProcessInAllDMsToInsert.cfp_implementationtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsForInsertRecords.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetFunctionalProcessInAllDMsToInsert.cfp_movementtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DMsForInsertRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetFunctionalProcessInAllDMsToInsert</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>checkBoxChooseFP</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chooseSystemContext.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>cfp_FunctionalProcess__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>getSteps</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cfp_FunctionalProcess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Functional_Process</elementReference>
            </value>
        </filters>
        <object>cfp_Data_Movements__c</object>
        <sortField>cfp_order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>comma</name>
        <dataType>String</dataType>
        <expression>&apos;,&apos;</expression>
    </formulas>
    <formulas>
        <name>couldItBe</name>
        <dataType>String</dataType>
        <expression>{!IDsOfDMs}</expression>
    </formulas>
    <interviewLabel>cfp_copyProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_copyProcess</label>
    <loops>
        <name>Select_DM_IDs</name>
        <label>Select DM IDs</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>advanced</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createDMIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewFunctionalProcess</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SetFunctionalProcessInAllDMsToInsert</name>
        <label>SetFunctionalProcessInAllDMsToInsert</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <collectionReference>DMSToInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewDataMovements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewDataMovements</name>
        <label>createNewDataMovements</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>successeed</targetReference>
        </connector>
        <inputReference>DMsToInsert2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createNewFunctionalProcess</name>
        <label>createNewFunctionalProcess</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>SetFunctionalProcessInAllDMsToInsert</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_Your_New_Functional_Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cfp_System_Context__c</field>
            <value>
                <elementReference>chooseSystemContext.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cfp_FunctionalProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getSteps4</name>
        <label>getSteps4</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Data_Movements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cfp_FunctionalProcess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Functional_Process</elementReference>
            </value>
        </filters>
        <filters>
            <field>cfp_order__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>cfp_order__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cfp_Data_Movements__c</object>
        <sortField>cfp_order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSystemContext</name>
        <label>getSystemContext</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>copyProcess</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cfp_System_Context__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Data_Movements</name>
        <label>Choose Data Movements</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_DM_IDs</targetReference>
        </connector>
        <fields>
            <name>instructionsForSelectingDataMovements</name>
            <fieldText>&lt;p&gt;Select Data Movements you want to copy. The standard DataMovements will be added when creating the process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChooseDataMovementstoCopy</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cfp_Data_Movements__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getSteps4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ChooseDataMovementstoCopy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a180&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Step Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;cfp_movementtype__c&quot;,&quot;guid&quot;:&quot;column-cc5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Movement Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;cfp_Data_Group_Name__c&quot;,&quot;guid&quot;:&quot;column-deef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Data Group Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>advanced</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>copyProcess</name>
        <label>copyProcess</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>selectFunctionalProcess</targetReference>
        </connector>
        <fields>
            <name>Name_Your_New_Functional_Process</name>
            <dataType>String</dataType>
            <fieldText>Name Your New Functional Process</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chooseSystemContext</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cfp_System_Context__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose your System Context</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getSystemContext</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-879e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;System Context Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectFunctionalProcess</name>
        <label>selectFunctionalProcess</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSteps4</targetReference>
        </connector>
        <fields>
            <name>Choose_Functional_Process</name>
            <choiceReferences>checkBoxChooseFP</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Functional Process</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successeed</name>
        <label>successeed</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;You have successed. Close this tab&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>copy Another?</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSystemContext</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>advanced</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>DMsForInsertRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>DMSToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>DMsToInsert2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>IDsOfDMs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
