src/main/default/flows/cfp_copyDMsFromProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>buildClonedDM</name>
        <label>buildClonedDM</label>
        <locationX>176</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>clonedDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_DMs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_DMs.cfp_movementtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_DMs.cfp_implementationtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_DMs.cfp_DataGroups__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_artifactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_DMs.cfp_artifactName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_DMs.cfp_comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_is_API_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_DMs.cfp_is_API_Call__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedDM.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>clonedDM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_DMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initNextOrder</name>
        <label>initNextOrder</label>
        <locationX>176</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>nextOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insertionOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_DMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>useNarrowSource</name>
        <label>useNarrowSource</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>chosenSourceFP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceFP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSourceDMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>useWideSource</name>
        <label>useWideSource</label>
        <locationX>302</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>chosenSourceFP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceFPWidened</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSourceDMs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>didUserWiden</name>
        <label>didUserWiden</label>
        <locationX>176</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>useNarrowSource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>userWidened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>widenSearch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>useWideSource</targetReference>
            </connector>
            <label>Yes - widened</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>sourceFPChoicesSubSystem</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentFP.cfp_System_Context__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>cfp_Sub_System__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentFP.cfp_Sub_System__c</elementReference>
            </value>
        </filters>
        <object>cfp_FunctionalProcess__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sourceFPChoicesSysContext</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentFP.cfp_System_Context__c</elementReference>
            </value>
        </filters>
        <object>cfp_FunctionalProcess__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>cfp_copyDMsFromProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_copyDMsFromProcess</label>
    <loops>
        <name>Loop_Selected_DMs</name>
        <label>Loop Selected DMs</label>
        <locationX>176</locationX>
        <locationY>902</locationY>
        <collectionReference>selectedDMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>buildClonedDM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createDMs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createDMs</name>
        <label>createDMs</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>doneScreen</targetReference>
        </connector>
        <inputReference>dmsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCurrentFP</name>
        <label>getCurrentFP</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pickSourceProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cfp_FunctionalProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSourceDMs</name>
        <label>getSourceDMs</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pickDataMovements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cfp_FunctionalProcess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenSourceFP</elementReference>
            </value>
        </filters>
        <filters>
            <field>cfp_order__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cfp_Data_Movements__c</object>
        <sortField>cfp_order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>pickSourceProcess</name>
        <label>Pick Source Process</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>didUserWiden</targetReference>
        </connector>
        <fields>
            <name>instructionsForPickSource</name>
            <fieldText>&lt;p&gt;Pick the Functional Process to copy Data Movements from. By default the radio shows processes in the same Sub System and System Context. Tick &quot;Widen Search&quot; if you want to pick a process anywhere in the same System Context (use the second radio).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>widenSearch</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Widen Search (any Sub System within same System Context)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sourceFP</name>
            <choiceReferences>sourceFPChoicesSubSystem</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source Functional Process (same Sub System)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sourceFPWidened</name>
            <choiceReferences>sourceFPChoicesSysContext</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source Functional Process (whole System Context, used when Widen Search is ticked)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>insertionOrder</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Insertion Order (where the cloned Data Movements will start; existing rows shift down)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pickDataMovements</name>
        <label>Pick Data Movements</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>initNextOrder</targetReference>
        </connector>
        <fields>
            <name>instructionsForPickDMs</name>
            <fieldText>&lt;p&gt;Select the Data Movements you want to clone into this process. They will be inserted starting at the insertion order you specified, and existing Data Movements will shift down automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chooseDMs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cfp_Data_Movements__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Data Movements</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getSourceDMs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;col-name&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Step Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;cfp_order__c&quot;,&quot;guid&quot;:&quot;col-order&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Source Order&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;cfp_movementtype__c&quot;,&quot;guid&quot;:&quot;col-mt&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Movement Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;cfp_Data_Group_Name__c&quot;,&quot;guid&quot;:&quot;col-dg&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Data Group&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;cfp_implementationtype__c&quot;,&quot;guid&quot;:&quot;col-it&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Impl Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;cfp_comments__c&quot;,&quot;guid&quot;:&quot;col-co&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDMs</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>doneScreen</name>
        <label>Done</label>
        <locationX>176</locationX>
        <locationY>1226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>doneText</name>
            <fieldText>&lt;p&gt;Data Movements cloned. The order has been adjusted by the trigger framework. Close this dialog to return to the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentFP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>dmsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>clonedDM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>chosenSourceFP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
