src/flows/cfp_createReadAndDisplayMovements.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Display_DM</name>
        <label>Create Display DM</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>singleDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whichDataGroup.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertDMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertDMIntoDB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Read_DM</name>
        <label>Create Read DM</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>singleDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whichDataGroup.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertDMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Display_DM</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>cfp_createReadAndDisplayMovements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_createReadAndDisplayMovements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertDMIntoDB</name>
        <label>insertDMs</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>insertDMs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getDataGroups</name>
        <label>getDataGroups</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_DataGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cfp_System_Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.cfp_System_Context__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cfp_DataGroups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_DataGroup</name>
        <label>Choose DataGroup</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Read_DM</targetReference>
        </connector>
        <fields>
            <name>whichDataGroup</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cfp_DataGroups__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which Data Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getDataGroups</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-73e2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;dk_DataGroups Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDataGroups</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DisplayText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Display {!whichDataGroup.firstSelectedRow.Name} Details</text>
    </textTemplates>
    <textTemplates>
        <name>ReadText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Read {!whichDataGroup.firstSelectedRow.Name} Details</text>
    </textTemplates>
    <variables>
        <name>insertDMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_FunctionalProcess__c</objectType>
    </variables>
    <variables>
        <name>singleDM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
</Flow>
