src/flows/cfp_addDefaultDMsToFuncProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>createEventMonitoringDM</name>
        <label>createEventMonitoringDM</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>write to Event Monitoring Logs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006So12AE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>98.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createStatusErrorsDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createFieldHistoryDM</name>
        <label>createFieldHistoryDM</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>write to Field History</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006Skn2AE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>97.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEventMonitoringDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createFullTextSearchDM</name>
        <label>createFullTextSearchDM</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>write to Full Text Index</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006SmP2AU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>96.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createFieldHistoryDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createStatusErrorsDM</name>
        <label>createStatusErrorsDM</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>status/errors/etc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006Spd2AE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createDMs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createTriggerDM</name>
        <label>createTriggerDM</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006KaL2AU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enter description of triggering Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDataMovement.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataMovement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createFullTextSearchDM</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>cfp_addDefaultDMsToFuncProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_addDefaultDMsToFuncProcess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createDMs</name>
        <label>createDMs</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <inputReference>DMsToInsert</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createTriggerDM</targetReference>
        </connector>
        <object>cfp_FunctionalProcess__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DMsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>singleDataMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
</Flow>
