src/flows/cfp_Add_Email_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Read_Account</name>
        <label>Read Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>singleDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006dbN2AQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read the Account Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToINsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Read_Contact</name>
        <label>Read Contact</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>singleDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006eNl2AI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read the Contact Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToINsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_the_transaction_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Read_the_transaction_Object</name>
        <label>Read the &lt;transaction&gt; Object</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>singleDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read the &lt;Transaction&gt; Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToINsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>readEmailTemplate</name>
        <label>readEmailTemplate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>singleDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006eSb2AI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ootb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read the email template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToINsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_the_email</name>
        <label>Send the email</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>singleDM.cfp_FunctionalProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_DataGroups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a8XQE0000006eUD2AY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_movementtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.cfp_implementationtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDM.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send the email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DMsToINsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createDMs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>cfp_Add_Email_Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cfp_Add_Email_Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createDMs</name>
        <label>createDMs</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <inputReference>DMsToINsert</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>readEmailTemplate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DMsToINsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_FunctionalProcess__c</objectType>
    </variables>
    <variables>
        <name>recordIdOld</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cfp_Data_Movements__c</objectType>
    </variables>
</Flow>
